extends ../layouts/default.pug

block content
  div(class="max-w-7xl mx-auto px-4 py-8")
    include ../components/cabinet/header
    include ../components/cabinet/tabs

    include ../components/cabinet/tab-estimate
    include ../components/cabinet/tab-contract
    include ../components/cabinet/tab-acts
    include ../components/cabinet/tab-materials
    include ../components/cabinet/tab-scheme
    include ../components/cabinet/tab-settings

  //- Библиотеки
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js")
  script(src="/js/vendor/DejaVuSans_normal.js")
  script(src="/js/vendor/DejaVuSans_Bold_normal.js")
  script(src="/js/data/base-knowledge.js")
  
  //- Core (общие утилиты)
  script(src="/js/cabinet/core/utils.js")
  script(src="/js/cabinet/core/constants.js")
  script(src="/js/cabinet/core/storage.js")
  
  //- Модули сметы
  script(src="/js/cabinet/modules/estimate/estimate.js")
  
  //- Остальные модули
  script(src="/js/cabinet/modules/auth/auth.js")
  script(src="/js/cabinet/modules/tabs/tabs.js")
  script(src="/js/cabinet/modules/profile/profile.js")
  script(src="/js/cabinet/modules/contract/contract.js")
  script(src="/js/cabinet/modules/acts/acts.js")
  script(src="/js/cabinet/modules/materials/materials.js")
  script(src="/js/cabinet/modules/scheme/scheme.js")
  
  //- База знаний
  script(src="/js/data/base-knowledge.js")