include ../card/card.mixin.pug

header(class="bg-transparent flex justify-center")
  div(class="w-3/4 mx-auto px-4 py-4 flex justify-center items-center flex-wrap gap-4")
    a(class="text-xl font-bold text-[var(--accent)]" href="/") Сайты под ключ
    nav 
      ul(class="flex flex-col gap-2 sm:flex-row sm:gap-4")
        +cardTitle('Обо мне', '#about')
        +cardTitle('Галерея работ', '#')
        +cardTitle('Контакты', '#contacts')